@using Views.Models;
@model List<Person> ;
<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8" />
        <title>@ViewData["title"] </title>
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <div class="page-content">

        <h1> hello from the niggas views</h1>

        @foreach (Person person in Model)
        {
            <div class="box float-left w-50">
                <h3>@person.name</h3>
                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>@person.gender</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>@person.dateOfBirth.Value.ToString("MM/dd/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
                <a href="~/person-details/@person.name">Details</a>
            </div>
        }
        </div>

</body>
</html>