@model PersonGrid
<div class="box">

    <h3> @Model.GridTitle</h3>
    <table class="table w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person person in Model.People)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Job</td>
                </tr>
            }
        </tbody>
    </table>

</div>