<h2>About page </h2>


@{
    var ListItem = new List()
            {
                ListItems =
                {
                    "python",
                    "c#",
                    "java"
                }
                ,
                ListTitle = "programming"
            };
    await Html.RenderPartialAsync("_ListPartialView", ListItem);
}