<!DOCTYPE html>
<html>
    <head>

        <title> nnnnnnnnn</title>
        <meta charset="utf-8" />

    </head>
    <body>
        <p>@ViewBag.configg</p>
        <p>@ViewBag.config</p>
        <p>@ViewBag.configgg</p>
     </body>
</html>